<!-- navigation.component.html -->
<nav class="navbar navbar-expand-lg" [ngClass]="{ 'scrolled': isScrolled }">
  <div class="container-fluid">
    <a class="navbar-brand centered-logo" >
      <span class="sparkle-heart">✨</span>
    
      <span class="brand-text" *ngIf="!isLoggedIn">
        LevelUpLove
      </span>
    
      <span class="brand-text" *ngIf="isLoggedIn">
        Sei gegrüßt, {{ username }}
      </span>
    
      <span class="sparkle-heart">✨</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-center">

        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item"><a class="nav-link" routerLink="/">Startseite</a></li>
        </ng-container>


        <ng-container *ngIf="isLoggedIn">
          <!-- Diese Links nur für eingeloggte User -->
          <li class="nav-item"><a class="nav-link" routerLink="/discover">Discover</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/profile">Profil</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/matching">Profil</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/messages">Nachrichten</a></li>
          
        </ng-container>


        <ng-container >
          
          <li class="nav-item"><a class="nav-link" routerLink="/about-us">Über uns</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contact">Kontakt</a></li>
          
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item"><a class="nav-link" (click)="logout()">Abmelden</a></li>
        </ng-container>

      </ul>
    </div>
  </div>
</nav>