<header class="header-bg">
  <nav class="navbar navbar-expand-lg bg-body-lilac" data-bs-theme="dark" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="container-fluid">
      <a class="navbar-brand">Herzlich Willkommen Geek!</a>
      
      <!-- Navbar-Toggler für das Dropdown-Menü auf kleinen Bildschirmen -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links, die in das Dropdown wandern, wenn der Bildschirm kleiner wird -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" href="#">Startseite</a>
          <a class="nav-link active" href="#">Matching</a>
          <a class="nav-link active" href="#">Nachrichten</a>
          <a class="nav-link active" href="#">Profil</a>
          <a class="nav-link active" href="#">Kontakt</a>
        </div>
        
      </div>
    </div>
  </nav>
  <app-grettingstext></app-grettingstext>
</header>

