.header-bg {
    /* Pfad zum Bild (achte darauf, dass du den korrekten Pfad relativ zum Assets-Ordner angibst) */
    background: url('/assets/images/A%20robot%20man%20and%20a%20purple%20alien%20woman%20falling%20in%20love.png') no-repeat center center;
    background-size: cover; /* Ändere zu 'cover', damit das Bild den gesamten Bereich ausfüllt */
    height: 150vh; /* Passt die Höhe an die gesamte Bildschirmhöhe an */
    width: 100vw; /* Passt die Breite an die gesamte Bildschirmbreite an */
    margin: 0; /* Entfernt mögliche äußere Abstände */
    padding: 0 200px 200px  ; /* Entfernt mögliche innere Abstände */
    display: flex;
    justify-content: center;
    align-items: center; /* Zentriert den Inhalt sowohl horizontal als auch vertikal */
}

