<div class="main">
	<div class="tab-switch">
	  <button [class.active]="isLoginMode" (click)="toggleMode()">Login</button>
	  <button [class.active]="!isLoginMode" (click)="toggleMode()">Sign Up</button>
	</div>
  
	<div class="form-wrapper">
	  <ng-container *ngIf="isLoginMode">
		<form @slideFadeHorizontal (ngSubmit)="doLogin()">
		  <label>Login</label>
		  <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required>
		  <input type="password" name="password" placeholder="Passwort" [(ngModel)]="password" required>
		  <button type="submit">Login</button>
		</form>
	  </ng-container>
  
	  <ng-container *ngIf="!isLoginMode">
		<form @slideFadeHorizontal (ngSubmit)="doRegister()">
		  <label>Sign up</label>
		  <input type="text" name="username" placeholder="User - Name" [(ngModel)]="username" required>
		  <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required>
		  <input type="text" name="gender" placeholder="Geschlecht" [(ngModel)]="gender" required>
		  <input type="password" name="password" placeholder="Passwort" [(ngModel)]="password" required>
		  <input type="text" name="birthdate" placeholder="Geburtsdatum: dd.MM.yyyy" [(ngModel)]="birthdate" required>
		  <button type="submit">Sign up</button>
		</form>
	  </ng-container>
	</div>
  </div>
  
  