
.welcome-container {
    text-align: center;
    color: white;
    background: rgba(128, 0, 128, 0.507); /* Lila mit Transparenz */
   /*  padding: 80px;
    margin: 200px; */
    border-radius: 20px;
    backdrop-filter: blur(1px);
    opacity: 0; /* Startet unsichtbar */
    animation: fadeIn 2s ease-in forwards; /* Animation anwenden */
}



@keyframes fadeIn {
    from {
        opacity: 0; /* Unsichtbar */
    }
    to {
        opacity: 1; /* Sichtbar */
    }
}

.welcome-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.welcome-container p {
    font-size: 1.2rem;
}

